.as_hero {
    
    position:absolute;
    background-color:#333;
    background-image: url('images/rare/giphy.gif');
    height:770px;
    width:100%;
    background-repeat:no-repeat !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-size:cover !important;
    background-position:center !important;
   
}
.as_hero::before {
    content:'';
    width:100%;
    position:absolute;
    height:100%;
    background:rgba(2,2,2,.5);
  
}
#index {
    overflow: hidden; 
  }
  #index {
    overflow-y: hidden; 
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
.navbar-dark .navbar-toggler {
    border-color:transparent;
    font-size:1rem;
}
.navbar-dark .navbar-toggler:focus {
    outline:none;
}
.as_hero .as_hero_content {
    position:relative;
    z-index:99;
    padding:170px 0;
    background:transparent;
    border-radius:0;
    
}
.as_hero .as_hero_content h1 {
    color:pink;
    font-size:55px;
}
.as_hero .as_hero_content p {
    font-size:55px;
}
@media screen and (max-width:767px) {
    .as_hero .as_hero_content {
        padding:50px 0;
        
   }
}


.as_rare {
    position:relative;
    background-color:#333;
    background-image: url('images/gangsta-hip-hop-rap-wallpaper-preview.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
.as_rare::before {
    content:'';
    width:100%;
    position:absolute;
    height:100%;
    background:rgba(2,2,2,.5);
}

.as_images {
    position:relative;
    background-color:#333;
    background-image: url('images/4e6f0cd0a680c857644cfeef0dfab934.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
.as_images::before {
    content:'';
    width:100%;
    position:absolute;
    height:100%;
    background:rgba(2,2,2,.5);
}
.navbar-dark .navbar-toggler {
    border-color:transparent;
    font-size:1rem;
}
.navbar-dark .navbar-toggler:focus {
    outline:none;
}
.as_rare .as_rare_content {
    position:relative;
    z-index:99;
    padding:170px 0;
    background:transparent;
    border-radius:0;
}
.as_rare .as_rare_content h1, .as_rare .as_rare_content p {
    color:#fff;
}
@media screen and (max-width:767px) {
    .as_rare .as_rare_content {
        padding:50px 0;
   }
}
.dropdown-menu {
    background-color: transparent;

}
.dropdown .dropdown-menu{
    background-color:transparent;
}
#let{
color:rgb(54, 38, 38);


}
#navbarDropdown {
    font-size:8px;
}
.lead, #title {
    text-align: center;
    
}
#title, .lead {
    color: #FFFFFF;
    background-color: transparent;
  text-shadow: 3px 5px 2px #474747;
  padding-top:50px;
}
.btn btn-primary btn-lg {
    background-color:pink;
}
 

 #list {
    padding-top:40px;
    text-transform: capitalize;
    color:white;
  }
  
  #poems {
    color:black;
    font-weight: bolder;
    padding-top:30px;
  
  }
 
      .pad {
        color:white;
        font-size: 9px;
        margin-right:50px;
      
      }
      
      @media (max-width: 660px){
        .embed-responsive-item{
          margin-left: 15px !important;
        }
      }
      @media only screen and (max-width: 570px) {
        #left{
          width:60%;
         
          float:left;}
         #right{
          width:40%;
          
          float:right;}}
         
         @media screen and (max-width:800px){
           #left,#right{
             width:100%;
             float:none;
             margin:0 0 5px;}
         }
       #songs {
           text-align: center;
           font-size:15px;
       }
       .as_poems {
           background-image: url("images/8b6cafadd4d207ffb2eeee1a49324792.png");
         
       }
     
       a{
        position: relative;
        display: inline-block;
        padding: 25px 25px;
        margin: 40px 0;
        color: #03e9f4;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 0px;
        overflow: hidden;
        margin-right: 40px;
  
    }
    a:hover{
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #03e9f4;
         -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
    a:nth-child(1){
        filter: hue-rotate(270deg);
    }
    a:nth-child(2){
        filter: hue-rotate(110deg);
    }
    a span{
        position: absolute;
        display: block;
    }
    a span:nth-child(1){
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#03e9f4);
        animation: animate1 1s linear infinite;
    }
    @keyframes animate1{
        0%{
            left: -100%;
        }
        50%,100%{
            left: 100%;
        }
    }
    a span:nth-child(2){
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#03e9f4);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
    }
    @keyframes animate2{
        0%{
            top: -100%;
        }
        50%,100%{
            top: 100%;
        }
    }
    a span:nth-child(3){
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent,#03e9f4);
        animation: animate3 1s linear infinite;
        animation-delay: 0.50s;
    }
    @keyframes animate3{
        0%{
            right: -100%;
        }
        50%,100%{
            right: 100%;
        }
    }
    
    
    a span:nth-child(4){
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#03e9f4);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
    }
    @keyframes animate4{
        0%{
            bottom: -100%;
        }
        50%,100%{
            bottom: 100%;
        }
    }
#mar {
    color: rgba(236, 230, 230, 0.5);
    margin-top:35px;
    font-size:10px;
}